// Colors
$color-white: #ffffff;
$color-lightgrey: #e5e8ec;
$color-green: #2a9d8f;
// Space
$space: 15px;
$space-s: $space * 0.5;
$space-m: $space * 1.5;
$space-l: $space * 2;
$space-xl: $space * 3.5;